
<div class="pokedex mt-3">Pokedex</div>
<%= link_to "Trainers", trainers_path, class:" custom-color fs-2" %>

  <div class="search my-3">
    <%= simple_form_for :search, url: search_pokemons_path, method: :get do |f| %>
    <div class="search-form-control form-group rounded-2">
      <%= f.input :query, label: false, required: true, input_html: { class: "form-control" } %>
      <button name="button" type="submit" class="btn btn-flat text-dark">
        Search
      </button>
    </div>
    <% end %>
  </div>

<div class="pokemons">
  <% @pokemons.each do |pokemon| %>
    <%= link_to pokemon_path(pokemon), class:"pokemon-card-link" do %>
    <div class="pokemon-card">
      <div class="img">
        <%= cl_image_tag pokemon.photo.key, height: 250, width: 200, crop: :fill %>
      </div>
      <div class="name fs-3">
        <%= pokemon.name %>
      </div>
      <div class="element fs-4 pb-3 text-dark">
      <%= pokemon.element_type %>
      </div>

    </div>
    <%end%>
  <% end %>
</div>
